@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.favourite-container {
  padding: 0 0 0 3rem;
  display: flex;
  align-items: center;
}

.favourite-icon {
  height: 1.5rem;
  margin: 0 0.3rem 0 0;
}

.favourites-text {
  font-size: 1.30rem;
  padding-top: 0.20rem;
}