.about-us-page-container {
  background-size: cover;
  background-position: top;
  text-align: center;
  color: rgb(255 255 255);
  background-image: url(' ../../../public/assets/images/hero_image.png');
  padding-top: 2.5rem;
  padding-bottom: 4.5rem;
}

.main-slogan-vector-style {
  width: 30%;
  justify-content: center;
  position: relative;
  right: 0.5rem;
}

.simple-spices-heading {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.8rem;
}

/* .down-container {
  position: fixed;
  width: 100%;
  height: 50%;
  top: 7rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #342f2b;
  z-index: 2;
  cursor: pointer;
} */
.toggle-button-bottom {
  padding-left: 1.25rem;
  margin-top: -0.5rem;
}

.about-us-description {
  margin: 0 127px;
  font-size: 1px;
  font-weight: 400;
}

.text-big {
  display: inline-block;
}

.shop-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
}
@media screen and (max-width: 550px) {
  .toggle-button-bottom {
    padding-left: 1.25rem;
    margin-top: 0;
  }

  .about-us-page-container {
    width: 100%;
  }
}
