.corporate_info {
  background-color: rgba(35, 28, 22, 0.6);
  width: 18%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
}
.text_big {
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
  font-family: Montserrat;
  font-style: SemiBold;
  line-height: 3rem;
  font-weight: 300;
  color: white;
}
.text_small {
  display: block;
  font-family: Montserrat;
  font-size: 16sp;
  /* line-height: 2rem; */
  font-weight: 200;
  color: white;
}
@media screen and (max-width: 460px) {
  .corporate_info {
    width: 100%;
    text-align: center;
  }
}
