.cart-container {
  margin: 0;
  padding: 0 0 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cart-icon {
  height: 1.70rem;
}

.number {
  margin: 0 0.3rem 0.9rem 0;
  padding: 0.15rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  background-color: #B80000;
  border-radius: 50%;
  width: 1.00rem;
  height: 1.00rem;

  color: #FFFFFF;
  font-size: 0.80rem;
  font-weight: 900;
  text-align: center;
  align-items: center;
  text-shadow: 0.125rem 0.125rem 0.25rem #000000;
}

.cart-text {
  font-size: 1.30rem;
  padding-top: 0.20rem;
}