.cart {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 3%;
}
.number {
  background-color: red;
  border: red 2px solid;
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0px 10px 10px 2px;
  text-align: center;
  padding-bottom: 1px;
  color: snow;
  font: bold;
  align-items: center;
}

.cart-container {
  background-color: rgb(10, 10, 10);
  margin-left: 10px;
}
