h2 {
  background: #000000;
  color: white;
  font-size: 2.5rem;
  letter-spacing: -2%;
  font-weight: 400;
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 40px;
  letter-spacing: -2%;
  text-shadow: -1px 0 white, 0 1px rgb(240, 5, 5),
    1px 0 rgb(238, 10, 10) 0 -1px rgb(241, 5, 5);
}
