@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@100&display=swap');

/* background image will be global so it needs to be deleted while cocmpiling */
body {
  background-image: url('../../../../public/assets/images/hero_image.png');
  mix-blend-mode: normal;
}

* {
  font-family: Montserrat, sans-serif;
}

.contact-form-container {
  background: linear-gradient(180deg, #231c16 0%, rgb(35 28 22 / 75%) 100%);
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 60%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 0 auto;
  font-size: medium;
}

.contact-head > img {
  width: 70%;
}

.ready-button {
  background: #53742a;
  border: 1px solid #fff;
}

.required-star {
  color: rgb(255 0 0);
}

.contact-head {
  text-align: center;
}

.contact-form {
  margin: 0 auto;
}

.wrapper-outer-contact-form {
  justify-content: center;
  margin: 0 auto;
  width: 85%;
}

.wrapper-contact-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 0 auto;
  justify-content: center;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.2em;
  gap: 1rem;
  align-content: space-between;
}

label {
  flex: 1;
  display: flex;
  flex-shrink: 1;
  justify-content: right;
  text-align: right;
}

button {
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  background: rgb(25 24 24);
  color: white;
  border: 0.1rem solid white;
  width: 5rem;
}

textarea,
input {
  width: 50%;
  text-align: left;
}

textarea:focus,
input:focus {
  outline: none;
  border: 0.2rem solid #53742a;
}

input:required:invalid,
textarea:required:invalid {
  outline: none;
  border: 0.1rem solid rgb(255 0 0);
}

.error-msg {
  color: rgb(227 20 20);
}

.success-msg {
  color: #53742a;
}

.contact-error-span {
  display: flex;
  flex-direction: column;
  color: rgb(255 0 0);
  font-size: small;
  font-family: Montserrat, sans-serif;
}

.contact-form-simply-spices-text {
  font-family: 'Fredericka the Great', Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  .contact-form-container,
  .wrapper-outer-contact-form,
  .wrapper-contact-form {
    background: linear-gradient(180deg, #231c16 0%, rgb(35 28 22 / 75%) 100%);
    font-size: xx-small;
  }

  .form-row {
    display: flex;
    flex-direction: column;
  }

  textarea,
  input {
    width: 100%;
    text-align: left;
  }

  label {
    display: flex;
    justify-content: flex-start;
  }

  button {
    background: rgb(25 24 24);
    color: white;
    border: 0.1rem solid white;
    width: 80%;
    align-items: center;
  }
}
