@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.searched-products-list {
  min-height: 70vh;
}

.empty-search {
  min-height: 100vh;
  margin-top: 3rem;
  font-size: 3rem;
}
