.corporate-info {
  background-color: rgb(35 28 22 / 60%);
  width: 20%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
}

.corporate-info .text-big {
  display: block;
  padding-top: 1rem;
  font-size: 0.8rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: semibold;
  line-height: 3rem;
  font-weight: 600;
  color: white;
}

.corporate-info .text-small {
  display: block;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.01rem;
}
@media screen and (max-width: 560px) {
  .corporate-info {
    width: 40%;
    text-align: start;
    margin: 0 auto;
  }
}
