@import url('https://fonts.googleapis.com/css2?family=inter@100&family=Work+Sans:wght@100&display=swap');

.sort-by-select {
  z-index: 99;
}

.select {
  appearance: none;
  background-color: rgb(35 28 22 / 90%);
  color: white;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 70%;
  border: none;
  margin-right: 2rem;
  padding: 0.25rem;
  padding-right: 1.55rem;
  cursor: pointer;
  font-size: 1.125rem;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
}

option {
  font-size: 0.75rem;
  font-weight: 400;
}
