@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.whole-footer-container {
  display: flex;
  flex-direction: column;
}

.footer-outer-container,
.copyright-outer-container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-outer-container {
  background: rgba(35 28 22 / 95%);
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.copyright-outer-container {
  background-color: rgb(35 28 22);
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.footer-inner-container {
  width: 1190px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.copyright-inner-container {
  width: 1190px;
  display: flex;
  justify-content: end;
  color: white;
  margin: 0 auto;
  height: 2.5rem;
  align-items: center;
  text-align: end;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.56rem;
}

@media screen and (max-width: 1225px) {
  .footer-inner-container,
  .copyright-inner-container {
    width: 800px;
  }

  .simply-spices {
    font-size: 1.5rem;
  }

  .copyright-inner-container p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 850px) {
  .footer-inner-container,
  .copyright-inner-container {
    width: 400px;
  }

  .footer-inner-container {
    flex-direction: column;
  }

  .copyright-inner-container {
    padding-right: 15%;
  }
}
