@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.whole-footer-container {
  display: flex;
  flex-direction: column;
  /* border: solid royalblue; */
}

/* please delete the comments later -Magda */

/* all the background sizing you need */
.footer-top-background,
.footer-bottom-background {
  width: 100vw;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-top-background {
  background: rgba(35 28 22 / 60%);
}

.footer-bottom-background {
  background-color: rgb(35, 28, 22);
  background-color: #231c16;
  /* rgb or hex? or any of them? 
  Please read documentation regarding the correct formats 
  for this project and convert them whenever required */
}

.footer-top-content,
.footer-bottom-content {
  width: 1190px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background: transparent;
}

.footer-top-content {
  border: yellow solid 2px;
}

.footer-bottom-content {
  width: 1190px;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  margin: 0 auto;
  height: 2.5rem;
  color: #fff;
  /* font::vertical::cleanup */
  font-size: 0.85rem;
  padding: 0.5rem 0 0 0;
  align-items: center;

  border: yellow dashed 2px;
}

/* @media screen and (max-width: 1225px) {
  .footer-inner-container,
  .copyright-inner-container {
    width: 800px;
  }

  .simply-spices {
    font-size: 1.5rem;
  }

  .copyright-inner-container p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 850px) {
  .footer-inner-container,
  .copyright-inner-container {
    width: 400px;
  }

  .footer-inner-container {
    flex-direction: column;
  }

  .copyright-inner-container {
    padding-right: 15%;
  }
} */
