.Address_info {
  width: 36%;
  line-height: 20px;
  padding-left: 1.5rem;
  color: white;
}
.mapIn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mapIn img {
  margin-right: 2rem;
}
.smallMapIcon {
  width: 34px;
  height: 32px;
}
.adress {
  font-family: Montserrat;
  font-size: 16sp;
  font-style: Medium;
}
@media screen and (max-width: 460px) {
  .Address_info {
    width: 100%;
    padding-left: 3rem;
    margin-top: 1rem;
  }
}
