.modal-container {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: #231c16;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem 0.313rem rgb(35 16 22 / 100%);
  border-width: 1.75rem 2.25rem 1.25rem;
  border-color: #4a443f;
  border-style: solid;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.cancel-butt-container {
  padding-left: 43.2rem;
}

.cancel-button {
  height: 2.18rem;
  width: 2.825rem;
  left: 86.125rem;
  float: right;
}

.text {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.524rem;
  text-align: center;
  offset: 0.125rem, 0.125rem #231016;
}

.product-image-modal {
  text-align: center;
}

.product-image-modal img {
  height: 7.5rem;
  width: 7.5rem;
  left: 56.25rem;
  top: 31.688rem;
  border-radius: 18.75rem;
  margin: 0.5rem auto;
}

.count-item {
  color: red;
  padding: 0.5rem;
  margin-top: 1rem;
}

.continue-shopping-button {
  margin-right: 2rem;
}

@media screen and (max-width: 874px) and (min-width: 600px) {
  .modal-container {
    margin: 3rem;
    width: 100%;
    box-shadow: 0 rgb(35 16 22 / 100%);
  }

  .cancel-butt-container {
    padding-left: 23.2rem;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .continue-shopping-button {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .modal-container {
    width: 100%;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 0.75rem;
    box-shadow: 0 0 0.5rem 0.313rem rgb(35 16 22 / 100%);
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cancel-butt-container {
    padding-left: 13rem;
  }

  .product-title {
    margin-top: 2rem;
    font-size: 1.25rem;
  }

  .continue-shopping-button {
    margin-left: 2rem;
  }
}
