@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.product-pages {
  background: #403b37;
  margin: 5em;
}

.product-lists {
  display: flex;
  justify-content: center;
}

.product-lists ul {
  list-style: none;
  width: 1224px;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin: 0 auto;
  gap: 4em;
}

.list-page-number {
  background-color: #403b37;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

.pagination-footer {
  background-color: #403b37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: white;
  padding: 1em;
  font-size: x-large;
  font-weight: 400;
  cursor: pointer;
}

.arrow-icon {
  cursor: pointer;
}
