.product-pages{
  
     background: #403b37;;
    width: 70%;
    margin: 5em 5em;
}
.product-lists{
    display: flex;
    flex-direction: row;
     flex-wrap: wrap; 
    align-items: center; 
    justify-content: center;

}
.list-page-number{
    background-color: #403b37;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   width: 30%;
   
}
.product-cards{
    background-color: #393430;
    width: 20em;
    height: 100px;
    margin: 3%;
    
}
.pagination-footer{
    background-color: #403b37;
    display: flex;
    justify-content: center;
    align-items: center;


}

.page-number{
    color: white;
    padding: 1em;
}
.arrow-icon{
    cursor: pointer;
}