@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.button-for-spices {
  background-color: #342f2b;
  color: white;
}

.spices-button {
  display: inline-block;
  margin-right: 0.5rem;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 10rem;
  padding: 1rem 0;
}

.display {
  background-color: #342f2b;
  color: white;
}

.noDisplay {
  display: none;
}

span {
  display: inline-block;
  color: white;
}

.items-contanier {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.25rem;
}

.main-heading {
  margin-left: 10rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: Montserrat;
  font-size: 1.88rem;
  font-weight: 500;
}

.spice-names {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
}

.show-all-spices {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 1.5rem;
}

p {
  padding-bottom: 0.5rem;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.44rem;
  letter-spacing: 0;
  text-align: left;
}

/* .block-height {
  height: 6rem;
} */
.left-container {
  padding-left: 10rem;
}

.left-container,
.right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  vertical-align: baseline;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 0.063rem;
}

.left-container > div,
.right-container > div {
  line-height: 0.1rem;
  margin-bottom: 1rem;
}

.arrow {
  cursor: pointer;
  margin-top: 0.1rem;
}

.toggle-button {
  position: relative;
  background: none;
  border: none;
}
@media screen and (max-width: 660px) {
  .items-contanier {
    flex-direction: column;
  }

  .items-contanier > div {
    margin-bottom: 2rem;
  }

  .main-heading {
    margin: 1rem;
    padding: 0.31rem;
    text-align: center;
  }

  .right-container {
    padding-left: 1.5rem;
    width: 90%;
    text-align: left;
    margin: 0 auto;

    /* align-items: center; */
  }

  .left-container {
    padding-left: 1.5rem;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .show-all-spices {
    padding-top: 0;
  }
}
