@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@400;500&display=swap');

img {
  margin-left: 3rem;
  width: 65%;
}

.error-details {
  width: 1190px;
  background: rgb(35 28 22 / 90%);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.error-message {
  font-family: Montserrat, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
  width: 35%;
}

h3 {
  font-size: 4rem;
  letter-spacing: 0.3em;
}

.error-message p {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  margin-top: -8px;
}

@media screen and (max-width: 1225px) {
  .error-details {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .error-details {
    width: 400px;
    justify-content: center;
    text-align: center;
  }

  img {
    width: 35%;
    margin: 0 auto;
  }

  h3 {
    font-size: 1.5rem;
  }
}
