.footer_container {
  background-color: black;
  color: white;
}
.FooterComponent_info {
  width: 70%;
  display: flex;
  margin: 0 auto;
}
.copyRight {
  width: 100%;
  padding-left: 70%;
}
@media screen and (max-width: 420px) {
  .FooterComponent_info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
