@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');
.footer_container {
  background-color: black;
  color: white;
  width: 60%;
  margin: 0 auto;
}
.Footer_info {
  display: flex;
}
.copyright {
  margin-left: 80%;
  padding-bottom: 0.1rem;
}
@media screen and (max-width: 960px) {
  .footer_container {
    width: 100%;
  }
  .Footer_info {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .footer_container {
    width: 100%;
  }
  .Footer_info {
    display: flex;
    flex-direction: column;
  }
  .copyright {
    margin-left: 50%;
  }
}
