.image-product {
  height: 18rem;
  width: 18rem;
}

@media screen and (max-width: 600px) {
  .image-product {
    width: 13rem;
    height: 13rem;
  }
}

@media screen and (max-width: 420px) {
  .image-product {
    width: 7.5rem;
    height: 7.5rem;
  }
}
