.SortBy_item,
.sort_list {
  background-color: rgba(52, 47, 43, 1);
  color: white;
  width: 104px;
  margin-left: 70%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
}
.sort_list {
  line-height: 26px;
  padding-bottom: 2rem;
  margin-top: 0rem;
}
.A_Z {
  padding-top: 2rem;
}
.sort_item {
  font-size: 16px;
  font-weight: 200;
  font-family: Inter;
  vertical-align: middle;
}
.SortBy_item span {
  color: white;
  margin-right: 0.6rem;
}
.sort_list span {
  color: white;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.triangle_down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
}
.triangle_up {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
}

@media screen and (max-width: 620px) {
  .SortBy_item,
  .sort_list {
    margin-left: 60%;
    margin-top: 1.25rem;
    text-align: center;
  }
  .sort_list {
    margin-top: 0;
  } 
}
