.contact-info {
  background-color: rgb(35 28 22 / 60%);
  width: 20%;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 0.5rem;
}

.contact-info img {
  padding-right: 0.5rem;
}

.contact-info .text-big {
  display: block;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-size: 0.8rem;
  font-family: Montserrat;
  font-style: semibold;
  line-height: 1rem;
  font-weight: 600;
  color: white;
}

.contact-info .text-small {
  display: flex;
  font-family: Montserrat;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: white;
  align-items: center;
}

.phone,
.envelop {
  width: 1.5rem;
  height: 1.5rem;
}

.contact-info .phone_text {
  margin-bottom: 1rem;
}
@media screen and (max-width: 560px) {
  .contact-info {
    width: 40%;
    margin: 0 auto;
  }
}
