/* Button Style */
.storybook-button {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.storybook-button--primary {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  width: 213px;
  height: 37px;
  background: #53742a;
  color: #ffffff;
  border: 1px solid #ffffffd3;
  text-align: center;
  padding-left: 25px;
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}

.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.add-to-cart-svg {
  width: 20px;
  height: 20px;
  padding-left: 10px;
}
