.carousel-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #231c16 0%, rgba(35, 28, 22, 0.75) 100%);
  background-color: #f6f8eb;
}

.carousel-inner {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  justify-content: space-between;
  background: rgba(255, 249, 238, 0.1);
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;
  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;
  /* hide scrollbar in Firefox */
  margin: 1rem;
}

.right-arrow {
  position: relative;
  align-items: center;
  color: white;
  cursor: pointer;
  right: 0%;
  margin: 1rem;
}

.left-arrow {
  position: relative;
  align-items: center;
  color: white;
  cursor: pointer;
  left: 0%;
  margin: 1rem;
}

.product-container {
  margin: 4%;
}

.carousel {
  display: flex;
  justify-content: space-around;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}
