.carousel-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background: #fff9ee1a;
}

.carousel-inner {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  justify-content: space-between;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 34.688rem;
  max-height: 14.375rem;
  overflow: hidden;
  padding: 1rem;
}

.right-arrow {
  position: relative;
  align-items: center;
  color: white;
  cursor: pointer;
  right: 0%;
  margin: 1rem;
}

.left-arrow {
  position: relative;
  align-items: center;
  color: white;
  cursor: pointer;
  left: 0%;
  margin: 1rem;
}

.carousel {
  display: flex;
  justify-content: space-around;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .carousel-container {
    display: none !important;
  }
}

@media screen and (max-width: 1204px) {
  .carousel-content {
    margin-bottom: 1rem;
  }
}
