@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@400;500&display=swap');

.about-us-section {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  background: rgb(35 28 22 / 70%);
  text-align: center;
  padding-bottom: 1rem;
}

.simple-spices-heading {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3rem;
  font-style: normal;
  letter-spacing: -0.02em;
  color: rgb(255 255 255 / 80%);
  margin-top: 1.4rem;
  margin-bottom: 0.1rem;
}

.main-slogan-vector-style {
  width: 50%;
}

.about-us-description {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  width: 65%;
  font-size: 1rem;
  line-height: 1.2rem;
  margin: auto;
  color: #fff;
}
