.google-map-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff33;
  height: 12rem;
  width: 23%;
  overflow: hidden;
  position: relative;
}

.google-map-container iframe {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: none;
}

@media screen and (max-width: 1225px) {
  .google-map-container {
    width: 50%;
  }
  .google-map-container iframe {
    padding: 0 10vw 2rem 2rem;
  }
}

@media screen and (max-width: 500px) {
  .google-map-container {
    width: 100%;
  }
}
