@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.address-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff33;
  height: 12rem;
  width: 30%;
  padding: 0 2rem 1rem 2rem;
}

.simply-spices-logo {
  font-family: 'Fredericka the Great', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0rem;
  padding: 1rem 0 1rem 0;
  text-shadow: 0.125rem 0.125rem 0.25rem #231016;
}

.coordinates-icon {
  align-items: flex-start;
  width: 1.5rem;
  height: 3.5rem;
  filter: drop-shadow(0.125rem 0.125rem 0.25rem #231016);
}

.address-icon-text-small .address {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.125rem 0.125rem 0.25rem #231016;
}

@media screen and (max-width: 1225px) {
  .address-container {
    width: 50%;
  }

  .simply-spices-logo {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 500px) {
  .address-container {
    width: 100%;
    align-items: center;
    padding: 0rem 0 5rem 0;
  }
}
