@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Montserrat:wght@100&display=swap');

* {
  font-family: Montserrat, sans-serif;
}

.signup-container {
  /* background: linear-gradient(180deg, #231c16 0%, rgb(35 28 22 / 75%) 100%); */
  mix-blend-mode: normal;
  width: 60%;
  margin: 0 auto;
  font-size: inherit;
}

#signup-form {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  margin-bottom: 2%;
  align-items: flex-end;
  align-items: end;
}

.signup-wrapper-outer {
  width: 100%;
  background: linear-gradient(180deg, #696560 0%, rgb(35 28 22 / 75%) 100%);

  /* opacity: 0.8; */
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.signup-wrapper {
  background: linear-gradient(180deg, #231c16 0%, rgb(35 28 22 / 75%) 100%);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 90%;
  padding: 1rem;
}

.signup-form-row {
  display: flex;
  padding: 0.2em;
  gap: 1rem;
  justify-content: flex-end;
}

.signup-label {
  flex: 1;
  display: flex;
  flex-shrink: 1;
  justify-content: right;
  text-align: right;
  color: white;
}

.signup-required-star {
  color: rgb(255 0 0);
}

.all-input-provided-button {
  background: #53742a;
  border: 1px solid #fff;
  width: 15rem;
}

.all-input-notprovided-button {
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  background: #191818;
  color: #fff;
  width: 15rem;
  border: 1px solid #fff;
}

#delivery {
  color: white;
}

button {
  padding: 0.4rem 1rem;
  background: rgb(25 24 24);
  color: white;
  border: 0.1rem solid white;
  width: 5rem;
  align-items: flex-end;
}

.signup-input {
  width: 50%;
  text-align: left;
}

.signup-input-wrong {
  width: 50%;
  text-align: left;
  border: 0.2rem solid red;
}

.signup-error-span {
  display: flex;
  flex-direction: column;
  color: rgb(255 0 0);
  font-size: small;
  font-family: Montserrat, sans-serif;
  justify-content: right;
  align-items: flex-end;
  text-align: right;
}

.signup-success-msg {
  color: rgb(3 104 3);
}

@media screen and (max-width: 1225px) {
  .signup-container {
    width: 800px;
  }

  * {
    font-size: small;
  }
}

@media only screen and (max-width: 750px) {
  .signup-container {
    background-color: #231c16;
    width: 90%;
  }

  .signup-form-row {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
  }

  .signup-label {
    visibility: hidden;
  }

  .signup-input {
    width: 90%;
    text-align: left;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
  }

  .signup-input-wrong {
    width: 90%;
    text-align: left;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    border: 0.1rem solid red;
  }

  .signup-error-span {
    color: #f00;
    font-size: x-small;
    align-items: flex-start;
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }

  button {
    background: rgb(25 24 24);
    color: white;
    border: 0.1rem solid white;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
