@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.corporate-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff33;
  height: 12rem;
  width: 23%;
  margin-right: 1%;
  /* REMOVE THIS MARGIN IN MEDIA QUERIES!!!*/
  padding: 0 2rem 1rem 2rem;
}

.corporate-container .text-big {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  color: #fff;
  text-align: left;
  margin: 0;
  padding: 1rem 0 1rem 0;
  text-shadow: 0.125rem 0.125rem 0.25rem #231016;
}

.corporate-container .text-small {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.125rem 0.125rem 0.25rem #231016;
}

@media screen and (max-width: 1225px) {
  .corporate-container {
    margin: 0;
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .corporate-container {
    width: 100%;
    align-items: center;
  }
}
