text-big {
  display: inline-block;
}

.toggle-button-bottom {
  padding-left: 1.25rem;
  margin-top: -0.5rem;
}

@media screen and (max-width: 550px) {
  .toggle-button-bottom {
    padding-left: 1.25rem;
    margin-top: 0;
  }
}
