.category-page {
  height: auto;
}

.sort-by-background {
  background: linear-gradient(180deg, #231c16 0%, rgb(35 28 22 / 75%) 100%);
  display: flex;
}

.landing-sort-by-component-info {
  background: none;
  width: 1190px;
  box-sizing: border-box;
}

.select {
  background: none;
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 1.25rem;
}

.select option {
  background-color: #231c16;
  font-size: 1.125rem;
}

.category-middle-main-background {
  background: linear-gradient(180deg, #231c16 0%, rgb(35 28 22 / 75%) 100%);
  width: 100vw;
}

.category-middle-main-container {
  padding-top: 3rem;
  width: 1190px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.category-product-card-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-product-card-item {
  width: 45%;
  height: 150px;
  background: linear-gradient(180deg, #231c16 0%, rgb(35 28 22 / 75%) 100%);
  margin-bottom: 2rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1225px) {
  .category-middle-main-container {
    width: 800px;
    box-sizing: border-box;
  }

  .landing-sort-by-component-info {
    width: 800px;
  }

  .category-product-card-item {
    width: 48%;
  }

  .select {
    font-size: 1rem;
  }

  .select option {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .category-middle-main-container {
    width: 400px;
  }

  .landing-sort-by-component-info {
    width: 400px;
  }

  .category-product-card-items {
    flex-direction: column;
  }

  .category-product-card-item {
    width: 90%;
    margin: 1rem auto;
  }

  .text-big {
    font-size: 3rem;
  }

  .text-samll {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 500px) {
  .category-middle-main-container {
    width: 375px;
  }

  .landing-sort-by-component-info {
    width: 375px;
  }

  .text-big {
    font-size: 2rem;
  }

  .text-samll {
    font-size: 1rem;
  }

  .select {
    font-size: 0.8rem;
    background-size: 1.125rem;
  }

  /* .category-product-card-items {
    flex-direction: column;
  }

  .category-product-card-item {
    width: 90%;
    margin: 1rem auto;
  } */
}
