@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.main-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.top-nav-background {
  background-color: black;
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 3rem;
}

.right-container {
  display: flex;
  justify-content: flex-end;
  line-height: 1.5rem;
  color: white;
  padding: 1%;
  width: auto;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}
@media only screen and (max-width: 1225px) {
  .main-container {
    flex-direction: column;
    height: 10rem;
    width: 100vw;
    align-items: flex-start;
    background-color: tomato;
  }
}
/* .logo {
    width: 100%;
    align-items: center;
    text-align: center;
  } */
/* .right-container {
    width: 100%;
    padding-bottom: 2rem;
  } */
