.header {
  background: black;
}
.container {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50%;
  color: white;
}

.logo {
  font-size: 1rem;
  margin-left: 10%;
  margin-top: 1%;
}
.cart-img {
  width: 20%;
  margin-right: 3%;
  padding-bottom: 10%;
}

.sign-in-icon {
  width: 20%;
}
.favourite-icon {
  position: relative;
  bottom: 120%;
  max-width: 15%;
}
