@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka the Great:wght@100&family=Work+Sans:wght@100&display=swap');

.main-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 3.75rem;
  width: 80rem;
  justify-content: space-evenly;
  font-weight: 400;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  background-color: transparent;
  margin-top: 1%;
  margin-left: 20px;
  width: auto;
}
