@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

.landing-sort-by-component-info {
  background-color: rgba(35, 28, 22, 0.9);
  width: 60%;
  color: white;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  margin: 0 auto;
}
.sort-by-container{
  margin-top: 1rem;
   display: grid;
  place-items: end;
}

.text-samll {
  font-family: Montserrat,Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  display: block;
}
.text-big {
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 5rem;
  letter-spacing: 0em;
  text-align: center;
  display: block;
}
@media screen and (max-width:400px) {
.landing-sort-by-component-info{
  width: 100%;
}

.text-big{
  font-size: 2.5rem;
}
.text-samll {
    font-size: 1.5rem;
}
}
