.google-map {
  width: 22%;
  background-color: rgb(35 28 22 / 60%);
  box-sizing: border-box;
  text-align: left;
}

.google-map iframe {
  width: 80%;
  margin-top: 1rem;
}

@media screen and (max-width: 700px) {
  .google-map {
    width: 100%;
    text-align: center;
  }

  .google-map iframe {
    width: 50%;
  }
}
