.google-map {
  width: 25%;
  background-color: rgb(35 28 22 / 60%);
}

.google-map iframe {
  width: 100%;
  padding: 0.1rem 0;
  margin-top: 1rem;
}
@media screen and (max-width: 560px) {
  .google-map {
    width: 50%;
    margin: 0 auto;
  }
}
